<!DOCTYPE html>
<link lang="en">
<head>
    <meta charset="UTF-8">
    <title>长安i个人博客</title>
<link rel="stylesheet" href="/static/my/css/reset.css">
<link rel="stylesheet" href="/static/my/css/index.css">
<script src="/static/vue/vue.js"></script>

</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/my/css/theme/' + theme + '.css'">

    <nav>
        <div class="left">
            <a href="#">首页</a>
            <a href="#">新闻</a>
            <a href="#">心情</a>
            <a href="#">关于</a>
        </div>
        <div class="right">
            <img v-show="theme === 'light' " src="/static/my/img/nav/light.svg" @click="setTheme('dark')" alt="">
            <img v-show="theme === 'dark' " src="/static/my/img/nav/dark.svg"  @click="setTheme('light')" alt="">

            <a href="#">登录</a>

            <a href="#">注册</a>

        </div>
    </nav>
    <main>
        内容区域
    </main>
    <footer>
        底部信息栏
    </footer>
</div>
<script>
new Vue(
    {
        el:  '#app',
        delimiters: ["[[", "]]"],
        data:{
            theme: 'light', //默认的主题
        },
    created(){
        this.int_theme()
    },

    methods:{
        int_theme(){ //读取存储的配置信息
         let theme =  localStorage.getItem('color-scheme')
         if(theme){
             this.theme = theme
         }

        },
        setTheme(themeName){
            this.theme = themeName
             // 持久化存储
            localStorage.setItem('color-scheme', this.theme)
            }

    }}
)
</script>
</body>
</html>